header{
    text-align: center;
        background-color: blue;
        text-transform: capitalize;
    display: flex; 
    color: white;
    padding: 5px 0px;

}
/*body settings*/
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/*nav list*/
nav{ 
    padding: 5px;
    margin: 5px 0px;
text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 160%;
}
#nav-list{
    list-style: none;
}
/*main */

h1{
color: white;
}
#main-content{
    width: 100%;
}
#hose-in-factory{
    display: inline-block;
    right: 0px;
    position: static;
    border-radius: 8px;
    float: right;
}
/*footer CSS*/
footer{
    display: static;
    width: 100%;
    height: 30px;
    box-shadow: black top 2px;

}
#social-links {
text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
    font-size: 160%;

}
footer>p{
    font-size: 70%;
    text-align: center;
}
